.wrapper {
	width: 100%;
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: center;
	margin: 50px 0;
}

.card {
	display: flex;
	width: 300px;
	height: 460px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
	border-radius: 16px;
	position: relative;
	flex-direction: column;

	img {
		width: 300px;
		height: 260px;
		border-radius: 10px;

	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 auto;
		padding: 10px;

		h1 {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 40px;
		}

		div {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			margin-bottom: 10px;
		}
	}



	p {
		img {
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}

	.card_like {
		width: 36px;
		height: 36px;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.card_price {
		width: 56px;
		height: 26px;
		position: absolute;
		background-color: #212B36;
		border-radius: 8px;
		top: 13px;
		left: 13px;
		padding-left: 10px;
		font-family: sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 26px;
		text-align: center;
		color: #FFFFFF;
	}
}

.tourInputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding: 32px;
	gap: 20px;
	background: #F9FAFB;
	border-radius: 16px;
	.inpBorders {
		border-right: 1px solid rgba(145, 158, 171, 0.24);
		padding-left: 23px;
	}

	button {
		gap: 8px;
		width: 48px;
		height: 48px;
		background: #22b8cf;
		border-radius: 8px;
		margin-left: 12%;
		img{
			width: 30px;	
			height: 30px;
		}
	}
}

.tourInputs input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 0px;
	gap: 8px;
	height: 48px;
	width: 16em;
	outline: none;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	color: #637381;
}

.mainTourText:hover {
	transition: 0.5s;
	transform: scale(1.2);
}

.inp_icon {
	display: flex;
	gap: 10px;

	img {
		width: 30px;
		height: 30px;
		margin-top: 12px;
	}
}

.inp_loc{
		border-right: 1px solid rgba(145, 158, 171, 0.24);
			padding-left: 23px;
}

.pagination {
	display: flex;
	height: 180px;
	width: 100%;
	gap: 20px;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins';
	cursor: pointer;
	list-style: none;
}

.page_num {
	width: 30px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: #787a7c;

}

.page_num:hover {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(255, 191, 161);
}

.pagination .active {
	border-radius: 50%;
	color: rgb(241, 126, 73);
	background-color: rgb(255 191 161 / 53%);
	width: 30px;
	height: 30px;
	line-height: 10px;
	text-align: center;

	a {
		color: #FA541C;
	}
}



@media screen and (max-width: 1200px) {
	.tourInputs{
		button{
			margin: 0;
		}
	}
}
@media screen and (max-width: 1080px) {
.tourInputs{
	flex-direction: column;
	button{
		width: 300px;
	}
		.inpBorders {
			border-right: none;
			padding-left: 0;
		}
}
.inp_loc{
	border: none;
}
}

@media screen and (max-width: 400px) {
.tourInputs{
	button{
width: 90%;
	}
}
}