.wrapper {
	width: 100%;
}

.contnent{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.card {
	display: flex;
	width: 300px;
		height: 460px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
	border-radius: 16px;
	position: relative;
	flex-direction: column;

	img {
		width: 300px;
		height: 260px;
		border-radius: 10px;

	}

	div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 auto;
		padding: 10px;
		h1 {
				font-family: 'Barlow';
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 40px;
			}
		div{
			display: flex;
				flex-direction: row;
				align-items: flex-end;
				margin-bottom: 10px;
		}
	}

	

	p {
		img {
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}

	.card_like {
		width: 36px;
		height: 36px;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.card_price {
		width: 56px;
		height: 26px;
		position: absolute;
		background-color: #212B36;
		border-radius: 8px;
		top: 13px;
		left: 13px;
		padding-left: 10px;
		font-family: sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 26px;
		text-align: center;
		color: #FFFFFF;
	}
}

.tourInputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 32px;
	gap: 20px;
	background: rgba(255, 255, 255, 0.04);
	border-radius: 16px;

	.inpBorders {
		border-left: 1px solid rgba(145, 158, 171, 0.24);
		border-right: 1px solid rgba(145, 158, 171, 0.24);
		border-radius: 0px;
		padding-left: 23px;
	}

	button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 6px 12px;
		gap: 8px;
		width: 48px;
		height: 48px;
		background: #22b8cf;
		border: 1px solid rgba(34, 184, 207, 0.48);
		border-radius: 8px;
		margin-left: 200px;
	}
}

//.tourInputs input {
//	display: flex;
//	flex-direction: row;
//	align-items: center;
//	padding: 10px 0px;
//	gap: 8px;
//	width: 312.67px;
//	height: 48px;
//	border-radius: 8px;
//	background: transparent;
//	outline: none;
//	border: none;
//	font-family: "Poppins";
//	font-style: normal;
//	font-weight: 600;
//	font-size: 16px;
//	line-height: 28px;
//	color: #637381;
//}

.mainTourText:hover {
	transition: 0.5s;
	transform: scale(1.2);
}

.inpp{
	position: relative;
&:before{
	content: url('../../assets/icon/inpLoc.png');
	display: flex;
	//background-image: url('../../assets//icon/inpLoc.png') ;
	background-position: center	center;
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	border: solid 10px red;
}
}