$light-clr: #fff;
$light-bg: #fff;
$dark-bg: #161C24;
$dark-text:  #919EAB;

.dark-theme {
	background-color: $dark-bg;
	color: $light-clr;

	// Apply the dark theme to specific components
	.button {
		background-color: $dark-text;
		color: $light-clr;
	}
}
.light-theme{
	background-color: $light-bg;
	color: $dark-bg;
}