.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  gap: 40px;
  font-family: "Poppins";
  .left {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .left a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #919eab;
  }
  .left a:hover {
    color: #fa541c;
  }
  .right {
    width: 25%;
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    .leftContent {
      border-right: 1px solid rgba(171, 145, 150, 0.24);
      width: 100%;
      display: flex;
      align-items: center;
    }
    .login {
      width: 100%;
      height: 36px;
      background: none;
      color: #ffffff;
      font-size: 15px;
      font-weight: 600;
      border: none;
      cursor: pointer;
    }
    .joinUs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 16px;
      width: 100%;
      height: 36px;
      background: #ffffff;
      border-radius: 8px;
    }
  }
}
.login1 {
  width: 100%;
  height: 36px;
  background: none;
  color: #212b36;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.joinUs1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  width: 100%;
  height: 36px;
  color: #ffffff;
  background: #212b36;
  border-radius: 8px;
}
.toogleTheme {
  img {
    margin-right: 32px;
    width: 24px;
    height: 24px;
  }
}
.langButton {
  width: 50px;
}
.langButton button:hover {
  transition: 0.1s;
  transform: scale(1.1);
}
.btnlink {
  color: #ffffff;
}
.logo {
  width: 75px;
  height: 20px;
}
@media (max-width: 576px) {
  .left a {
    display: none;
  }
  .login,
  .joinUs {
    display: none;
  }
}
