.wrapper {
  width: 100%;
  display: flex;
  gap: 64px;
  margin-top: 80px;
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 935px;
    .tourName {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
      }
      a {
        display: flex;
        gap: 19.75px;
      }
    }
    .tourInfo {
      display: flex;
      gap: 27.13px;
      width: 100%;
      height: 80px;
      border-bottom: 1px dashed rgba(145, 158, 171, 0.24);
      .first {
        width: 175px;
        height: 26px;
      }
      .second {
        width: 128px;
        height: 26px;
      }
      .third {
        width: 225px;
        height: 26px;
      }
      .first,
      .third,
      .second {
        display: flex;
        gap: 5px;
      }
      .first p {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #212b36;
      }
      .first b {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #919eab;
      }
      .second p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #212b36;
      }
      .third p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #637381;
      }
      .third b {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #212b36;
      }
    }
  }
}
.TourOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
  height: 375px;
  border-bottom: 1px dashed rgba(145, 158, 171, 0.24);
  h1 {
    width: 152px;
    height: 36px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #212b36;
  }
  .contentOverview {
    display: flex;
    align-items: center;
    width: 746px;
    height: 274px;
    .leftc,
    .rightc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 20px;
      width: 361px;
      height: 214px;
      .content1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 361px;
        height: 58px;
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          gap: 4px;
          width: 325px;
          height: 58px;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #212b36;
        }
        b {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #637381;
        }
      }
    }
  }
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 342px;
  height: 473px;
  background: #ffffff;
  box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
  border-radius: 16px;
  .rightCon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 146px;
    height: 36px;
    padding: 44px;
    h1 {
      width: 48px;
      height: 36px;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-decoration-line: line-through;
      color: #919eab;
    }
    h2 {
      width: 44px;
      height: 36px;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #212b36;
    }
    p {
      width: 38px;
      height: 26px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: #919eab;
    }
  }
  .rightCon2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    input {
      width: 294px;
      height: 56px;
      background: rgba(145, 158, 171, 0.08);
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: #919eab;
      padding: 14px 0px 14px 14px;
    }
  }
  .rightCon3 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 32px 0 32px;
    margin-top: 24px;
    gap: 16px;
    border-bottom: 1px dashed rgba(145, 158, 171, 0.24);
    h1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: #919eab;
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #212b36;
      }
    }
  }
  .rightCon4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 17px;
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px 0 32px;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #212b36;
      p {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #212b36;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 308px;
      height: 48px;
      background: #fa541c;
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 26px;
      color: #ffffff;
      margin-left: 17px;
    }
  }
}
