.wrapper {
  display: flex;

  .wrap_left {
    background-image: url("../../assets/postBG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -1px -375px 49px 0px rgba(19, 20, 20, 0.9) inset,
      -1px -215px 8px 0px rgba(41, 43, 45, 0.9) inset;
      position: relative;
  }

  .wrap_right {
    flex: 1 1 49.99%;
    background: #161c24;
  }
}

.wrap_left {
  align-items: center;
  width: 49%;
  height: 132vh;
  text-align: center;
}

:global {
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #fa541c !important;
  }

  .slick-dots li button:before {
    color: #ca3909 !important;
  }
}
.slick-slider{
  width: 100%;
  }
.dots {
  background-color: #fa541c;

  slick-active {
    button {
      background-color: #ffffff;
    }
  }
}

.card {
  width: 60% !important;
  height: 550px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 20%;
  margin-top: 170px;
padding-bottom: 130px;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    /* 01 Primary/03 Main */

    color: #fa541c;
  }

  h1 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* or 150% */

    text-align: center;

    /* 08 Common/01 White */

    color: #ffffff;
  }

  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    opacity: 0.72;
  }
}

.wrap_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 132vh;

  h1 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
  }
}
.btn{
      position: absolute;
          left: 43%;
          top: 71%;
}
.item {
  border-bottom: 1px dashed rgba(145, 158, 171, 0.24);
  width: 70%;
  height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #fa541c;
  }

  h2 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

    color: #919eab;
  }
}

@media screen and (max-width: 1100px) {
   .wrapper {
    flex-direction: column;

    .wrap_left {
      width: 100%;
    } 
    .card {
    margin-left: 10%;
  }
}

@media screen and (max-width: 1100px) {

  }

  .card {
    margin-left: 25%;
  }
}

@media screen and (max-width: 700px) {
 .wrapper{
  .card {
      margin-left: 20%;
      margin-top: 100px;
    }
 }

  .wrap_right {
    h1 {
      font-size: 32px;
      margin-right: 0;
      text-align: center;
    }
  }
}

    :global {
      .slick-slider {
        width: 100% !important;
      }
    }

@media screen and (max-width: 550px) {
  .wrap_left{
    height: 100%;
    padding-bottom: 100px;
    .card {
        margin-left: 16%;
        margin-top: 130px;
      }
  }

 @media screen and (max-width: 400px) {
.wrap_left{
  .card{
    margin-left: 20%;
  }
} 
}

  .item {
    height: 300px;
  }
  .btn{
        top: 77%;
          left: 38%;
  }
}

@media screen and (max-width: 350px) {
  .card {
    width: 200px !important;
    margin-left: 13%;
    p {
      font-size: 12px;
    }

    h1 {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .wrap_right {
    padding-bottom: 30px;
    h1 {
      font-size: 28px;
    }
  }

  .item {
    height: 350px;
  }
}
