.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  h1 {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 40px;
    a {
      color: #919eab;
    }
  }
  .imagesContent {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    .mainCon {
      width: 1340px;
      .mainConImg {
        width: 100%;
        cursor: pointer;
      }
    }
    .contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      div {
        display: flex;
        gap: 8px;
        img {
          width: 330px;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .wrapper {
    .imagesContent {
      flex-direction: column;
      .mainCon {
        width: 335px;
        img {
          height: 335px;
          width: 100%;
        }
      }
      .contents {
        display: block;
        div {
          width: 335px;
          height: 163.5px;
          margin-top: 8px;
        }
      }
    }
  }
}
