.main {
  width: 100%;
  padding: 0px 144px;
  display: flex;
  column-gap: 48px;
  margin-top: 80px;
}

.blog_slider {
  width: 768px;
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}




.card {
  background-repeat: no-repeat;
  border-radius: 16px;
  flex: 1 1 314px;
  height: 440px;
  flex-wrap: wrap;
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  box-shadow: -12px 12px 48px -4px rgba(145, 158, 171, 0.12);
      background-position-y: -80px;
}



.subTitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #919EAB;

}


.dot {
  display: inline;
  font-weight: 900;
}

.comment {
          width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-style: initial;
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
            color: #0c0b0b;
            margin-bottom: 10px;
}

.comment1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #ffffff;
}

.proff {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  span{
    font-family: 'Montserrat', sans-serif;
  }
}

.side_bar {
  width: 380px;
}

.side_head ul {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #212B36;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side_head ul li::before {
  content: "\2022";
  color: #FA541C;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  font-size: 25px;
}

.side_head h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.inp {
  background-image: url('../../assets/blog/ic_search.png');
  background-repeat: no-repeat;
  /*Убираем повтор изображения*/
  background-position: 10px;
  background-color: #eceef0;
  border: none;
  /*Позиционируем*/
  outline: none;
  /*убираем стандартную обводку браузера*/
  -moz-border-radius: 5px;
  /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px;
  /*закругляем углы для Chrome, Safari*/
  border-radius: 5px;
  /*закругляем углы для остальных браузеров*/
  padding-left: 40px;
  /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
  height: 54px;
  width: 340px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #919EAB;
}

.side_recent h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  margin-bottom: 24px;
}

.side_card {
  display: flex;
  column-gap: 16px;
  margin-bottom: 16px;
  img{
    width: 130px;
    height: 130px;
  }
}

.card_title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #212B36;
}

.side_card img {
  border-radius: 10px;
}

.side_tags button {
  border: none;
  background-color: #eceef0;
  padding: 4px 12px;
  margin: 4px 4px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #637381;
}

.side_tags h2 {
  margin-top: 40px;
  margin-bottom: 24px;
}

.side_info {
  margin-top: 44px;
  text-align: center;
  background-image: url(../../assets/blog/side.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 340px;
  height: 340px;
}

.side_info h3 {
  padding-top: 156px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #22B8CF;
}

.side_info p {
  padding: 8px 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.side_info button {
  padding: 6px 16px;
  width: 87px;
  height: 36px;
  background: #FA541C;
  border-radius: 8px;
  color: white;
}

.pagination {
  display: flex;
  height: 180px;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  list-style: none;
}

.page_num {
  width: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #787a7c;

}

.page_num:hover {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(255, 191, 161);
}

.pagination .active {
  border-radius: 50%;
  color: rgb(241, 126, 73);
  background-color: rgb(255 191 161 / 53%);
  width: 30px;
  height: 30px;
  line-height: 10px;
  text-align: center;

  a {
    color: #FA541C;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 0 22px;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .blog_slider {
    width: 100%;
  }
.card{
  width: 85%;
  flex: none;
}
  .inp {
    display: none;
  }

  .inp11 {
    display: flex;
    height: 60px;
    width: 100%;
  }
}